/* achievement */
.achievement{ 
    text-align: center;
    /* overflow: hidden; */
    padding-bottom: 48px;
  }
  .title_big{
    display: none;
  }
  .achievement .title{
    padding-top: 43px;
    font-family: Roboto;
    font-size: var(--title_font_sm);
    font-weight: var(--title_font_weight);        
    line-height: var(--title_line_height_sm);
    letter-spacing: 0em;
    text-align: center;
  }
  .achievement_content{
    display: grid;
    grid-template-columns: auto;
    gap:32px;
    margin-top: 23px; 
    text-align: center;
    align-items: center;
  }
  .ac_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 32px 16px 32px 16px;
    min-height: 278px;
    box-shadow: 0px 1px 2px 1px #4F868E24;
    border-radius: 10px;
  }
  .ac_content_image{
    width: 64px;
    height: 64px;
    text-align: center;
  }
  .ac_content_image img{
    height: 100%;
    width: 95%;
  }
  .ac_info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 0 16px;
  }
  .ac_info_heading{
    min-width: 220px;
  }
  .ac_info_heading h5{
    color: #293039;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
  .certified_para p{
    font-family: Montserrat;
    font-size: var(--para_font_size_sm);
    font-weight: var(--para_font_weight_sm);
    line-height: var(--para_line_height_sm);
    letter-spacing: 0em;
    text-align: center;
    color: #0F172A;
  }
  .ac_item_md{
    display: none;
  }
  
  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .achievement_content{
    grid-template-columns: auto auto;
  }
  .ac_item_md{
    display: flex;
  }
  .achievement{ 
    text-align: center;
    padding-bottom: 0;
  }
  .achievement .title{
    display: none;
  }
  .achievement .title_big {
    display: block;
    margin-top: 40px;
    text-align: center;
    font-family: Montserrat;
    font-size: var(--title_font_md);
    font-weight: var(--title_font_weight_md);
    line-height: var(--title_line_height_md);
    letter-spacing: 0em;
    text-align: center;
    color: #0F172A;
  }
  .certified_para p{
    font-size: var(--para_font_size_md);
    font-weight: var(--para_font_weight_md);
    line-height: var(--para_line_height_md);
    text-align: left;
    color:#51565D;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .achievement{
    text-align: start; 
    margin-bottom: 80px
  }
  .achievement .title_big {
    margin-top: 40px;
    font-size: var(--title_font_xl);
    font-weight: var(--title_font_weight_xl);
    line-height: var(--title_line_height_xl);
  }
  .achievement_content{
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    text-align: start;
  }
  .ac_item{
    align-items: start;
    gap: 16px;
    padding: 32px; 
    border-radius: 32px;
  }
  .ac_content_image{
    max-width: 90px;
    max-height: 90px;
  }
  .ac_content_image img{
    height: 100%;
    width: 100%;
  }
  .ac_info{
    align-items: start;
    padding: 0;
    height: 130px;
    max-width: 321px;
  }
  .ac_info_heading{
    max-width: 321px;
  }
  .ac_info_heading h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #293039;
  }
  .certified_para p{
    font-size: var(--para_font_size_xl);
    font-weight: var(--para_font_weight_xl);
    line-height: var(--para_line_height_xl);
    color:#51565D;
  }
  .achievement_content{
    grid-template-columns: auto auto auto;
  }
  .ac_item_md{
    display: none;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}
@media only screen and (min-width: 1400px) {

}
