.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 589px;
    border-radius: 20px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}